<!DOCTYPE html>
<html>
<head>
	<title>Soccer Jerseys Shop</title>
</head>
<body>
<div class="card">
  <img src="https://www.pngfind.com/pngs/m/552-5522105_messi-jersey-png-barcelona-transparent-png.png" alt="Soccer Jerseys" style="width:100%">
  <h1>Messi 10 Jersey</h1>
  <p class="price">$49.99</p>
  <p>Original Messi Jeresey signed by him</p>
  <p><a href="/cart"><button type="button">Add to Cart</button></a></p>
</div>

<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
</style>

<a href="/">
</body>
</html>